# Node.js dependencies
node_modules/

# Build outputs
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor-specific files
*.swp
.vscode/
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# Mac system files
.DS_Store

# Yarn PnP
.pnp.*
