
.home {
  background: url(./assets/bg.webp) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 85vh;
}




@media screen and (max-width: 768px) {
  .home {
    min-height: 130vh;
  }
}


@media screen and (max-width: 576px) {
  .home {
    min-height: 130vh;
  }
  
}


